# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Env
.env
.venv/
venv/

# Django
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/

# Test/cache
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db